*.o
*.asm
*.d
xv6/_cat
xv6/_echo
xv6/_forktest
xv6/_grep
xv6/_init
xv6/_kill
xv6/_ln
xv6/_ls
xv6/_mkdir
xv6/_rm
xv6/_sh
xv6/_stressfs
xv6/_usertests
xv6/_wc
xv6/_zombie
xv6/bootblock
xv6/cat.sym
xv6/echo.sym
xv6/entryother
xv6/fs.img
xv6/grep.sym
xv6/init.sym
xv6/initcode
xv6/initcode.out
xv6/kernel
xv6/kernel.sym
xv6/kill.sym
xv6/ln.sym
xv6/ls.sym
xv6/mkdir.sym
xv6/mkfs.exe
xv6/rm.sym
xv6/sh.sym
xv6/stressfs.sym
xv6/usertests.sym
xv6/vectors.S
xv6/wc.sym
xv6/xv6.img
xv6/zombie.sym
